<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/main.css" type="text/css" />
    <title>spymyson</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar"></nav>
      <main>
        <div class="display-container">
          <h1>Monitor Any Activity</h1>
          <p>
            spymyson is a <span class="seperated">telegram</span> bot that lets
            you send documents and images <br />
            with a simple api.
          </p>
          <button class="howto">How to use?</button>
        </div>
        <div class="secondary-container">
          <h1>How to use?</h1>
          <p>
            1. Go to telegram and search for
            <span class="seperated">spymyson</span>
          </p>
          <p>
            2. Send <span class="seperated">/token</span> to the bot and
            generate a token
            <span class="seperated">spymyson</span>
          </p>
          <p>
            3. Use that token as authorization and POST request at
            <span class="seperated">spymyson.vercel.app/api/send</span>
          </p>
          <button class="gotcha">Gotcha!!</button>
        </div>
      </main>
      <footer class="footer">
        <img src="../static/assests/avatar.png" />
      </footer>
    </div>
    <script src="../static/scripts/main.js"></script>
  </body>
</html>
